.CheckoutItem {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 25%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 22.5%;
    font-size: 1rem;
  }

  .price {
    @media screen and (max-width: 425px) {
      margin-left: 3px;
    }
  }

  .quantity {
    display: flex;

    @media screen and (max-width: 425px) {
      margin-left: 24px;
    }

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
