.CartItem {
  width: 100%;
  display: flex;
  min-height: 80px;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;

  img {
    width: 30%;
  }

  .item-details {
    width: 70%;
    display: block;
    color: black;
    padding-right: 20px;
    margin: auto 0;
  }

  .name,
  .price {
    font-size: 0.8rem;
    margin-left: 10px;
  }
}
